@charset "utf-8";
.index-page {
  background: #f3f3f3;
  position: relative
}
.index-page .main-header {
  background: #FFF;
  border-bottom: 0
}
.index-page .main-header .center-wrap {
  width: 58%;
  position: relative;
  display: inline-block;
  float: left
}
.index-page .main-header .center-wrap i {
  position: absolute;
  left: .8rem;
  top: 1.5rem;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url("../images/n16.png") no-repeat;
  background-size: contain
}
.index-page .main-header .center-wrap .search {
  text-align: left;
  text-indent: 1rem;
  line-height: 3rem;
  width: 100%;
  margin-top: .7rem;
  display: inline-block;
  height: 3rem;
  background: #FFF;
  border: 1px solid #CCC;
  color: #CCC;
  font-size: 1em;
  border-radius: .2rem
}
.index-page .main-header .logo {
  display: inline-block;
  position: absolute;
  left: 1.2rem;
  top: .7rem;
  width: 5.3rem;
  height: 3rem;
  background: url("../images/logo.jpg") center no-repeat;
  background-size: contain
}
.index-page .main-header .login {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  display: inline-block;
  background: url("../images/1_21.png") no-repeat center;
  background-size: contain
}
.index-page .index-adv {
  background: #fff;
  text-align: center
}
.index-page .index-adv a img {
  width: 100%;
}
.index-page .index-adv .promo_show {
  height: 14.5rem
}
.index-page .index-adv images {
  height: 14.5rem;
  border: 0;
  width: 100%
}
.index-page .quick-enters {
  background: #fff;
  padding-bottom: 1rem
}
.index-page .quick-enters .enter {
  width: 25%;
  float: left;
  text-align: center
}
.index-page .quick-enters .e-icon {
  width: 4rem;
  height: 4rem;
  display: block;
  margin: 0 auto;
  margin-top: 1.5rem
}
.index-page .quick-enters .e-icon.icon1 {
  background: url("../images/1.png") no-repeat center;
  background-size: contain
}
.index-page .quick-enters .e-icon.icon2 {
  background: url("../images/3.png") no-repeat center;
  background-size: contain
}
.index-page .quick-enters .e-icon.icon3 {
  background: url("../images/2.png") no-repeat center;
  background-size: contain
}
.index-page .quick-enters .e-icon.icon4 {
  background: url("../images/4.png") no-repeat center;
  background-size: contain
}
.index-page .quick-enters .e-icon.iconcart {
  background: url("../images/6.png") no-repeat center;
  background-size: contain
}
.index-page .quick-enters .enter .word {
  color: #666;
  margin-top: 1rem;
  display: inline-block
}
.index-page .tel {
  height: 5.5rem;
  line-height: 5.5rem;
  position: relative
}
.index-page .tel span {
  display: inline-block;
  height: 5.5rem;
  float: left
}
.index-page .tel .t-icon {
  display: inline-block;
  margin: 1rem .5rem 0 1.5rem;
  width: 3.5rem;
  height: 3.5rem;
  background: url("../images/5-1.png") no-repeat center;
  background-size: contain
}
.index-page .tel .t-num {
  font-size: 1.5rem;
  height: 5.5rem;
  display: inline-block;
  color: #f70
}
.index-page .tel .t-send {
  font-size: 1.5rem;
  color: #3093ed;
  float: right;
  margin-right: 1.5rem
}
@media only screen and (max-width:320px) {
  .index-page .tel .t-num {
    font-size: 1.3rem
  }
  .index-page .tel .t-send {
    font-size: 1.3rem;
    margin-right: 1rem
  }
  .index-page .tel .t-icon {
    display: inline-block;
    margin: 1.2rem .5rem 0 1rem;
    width: 3rem;
    height: 3rem;
    background: url("../images/5.png") no-repeat center;
    background-size: contain
  }
}
.index-page a.t-send {
  color: #3093ed
}
.index-page .my-office .name, .index-page .train .name {
  height: 3rem;
  line-height: 3rem;
  font-size: 1.6rem;
  text-indent: 1.6rem;
  color: #333
}
.index-page .my-office .office-item {
  padding: 1.6rem 0 1.6rem 8rem;
  position: relative;
  display: block
}
.index-page .my-office .o-icon {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 2rem;
  top: 1.8rem
}
.index-page .my-office .icon1 {
  background: url("../images/6.png") no-repeat center;
  background-size: contain
}
.index-page .my-office .icon2 {
  background: url("../images/7.png") no-repeat center;
  background-size: contain
}
.index-page .my-office .icon3 {
  background: url("../images/8.png") no-repeat center;
  background-size: contain
}
.index-page .my-office .icon4 {
  background: url("../images/9.png") no-repeat center;
  background-size: contain
}
.index-page .my-office .office-item .title {
  font-size: 1.6rem;
  color: #333
}
.index-page .my-office .office-item .word {
  color: #999;
  margin-top: .8rem
}
.index-page .train .item {
  width: 49%;
  float: left;
  padding-top: 1.5rem
}
.index-page .train .line {
  width: 100%;
  float: left;
  clear: both
}
.index-page .train .item p {
  margin-left: 3rem;
  text-indent: .6rem
}
.index-page .train .item .tr-icon {
  ;
  width: 5.5rem;
  line-height: 1.8rem;
  font-size: 1.3rem
}
.index-page .train .item .icon1 {
  background: url("../images/10.png") no-repeat center;
  background-size: contain;
  text-align: center;
  color: #fff
}
.index-page .train .item .title {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  color: #333
}
.index-page .index-nav {
  height: 4rem;
  line-height: 4rem;
  font-size: 1.4rem;
  padding: 0 1.6rem
}
.index-page .index-nav .item {
  float: left;
  margin-top: 1.3rem;
  padding: 0 1rem;
  text-align: center;
  display: inline-block;
  height: 1.4rem;
  line-height: 1.4rem
}
.index-page .index-nav .go-top {
  float: right;
  position: relative
}
.index-page .index-nav .go-top .icon {
  position: absolute;
  right: .25rem;
  top: .75rem;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background: url("../images/go-top-icon.png") center no-repeat;
  background-size: contain
}
.index-page .index-nav .item.log-name {
  color: #f70
}
.locations-wrap {
  display: none
}
.nav-wrap {
  padding-left: 2rem;
  padding-top: 1rem;
  background: #FFF;
  height: 5rem;
}
.nav-wrap .tdbg {
  width: 14.5rem;
  ;
  float: left;
  overflow: hidden;
}
.nav-wrap .tdbgborder {
  border-left: 1px solid #CCC;
  padding-left: 2rem;
}
.nav-wrap .tdbg i {
  width: 4rem;
  height: 4rem;
  display: block;
  float: left;
}
.nav-wrap .tdbg a {
  display: block;
  float: left;
  font-size: 1.1rem;
  margin-left: 0.5rem;
  line-height: 2rem;
  -webkit-user-select: none;
}
.nav-wrap .tdbg a span {
  display: block;
  font-size: 1.8rem;
}
.nav-wrap .bigicon {
  float: left;
  display: inline-block;
}
.nav-wrap .bigicon img {
  width: 3rem;
}
.quick-nav {
  height: 5rem;
  line-height: 8rem;
  text-align: center;
  margin-top: 1rem;
  padding-left: 1rem;
  clear: both;
}
.quick-nav div.nav {
  width: 31%;
  display: block;
  background-color: #FFF;
  margin-right: 0.5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 1.5rem;
  color: #FFF;
  float: left;
}
.quick-nav div.nav span {
  display: block;
  float: left;
  height: 100%;
  width: 3rem;
  text-align: center;
}
.quick-nav div.nav span img {
  width: 2.5rem;
  vertical-align: middle;
}
.quick-nav div.nav01 {
  background-color: #f37a83;
}
.quick-nav div.nav02 {
  background-color: #bcd133;
}
.quick-nav div.nav03 {
  background-color: #ff7802;
}
.index-page .area-sale{

}
.index-page .area-sale .top {
  display: block;
  clear: both;
  height: 3rem;
  line-height: 3rem;
    position: relative;
}
.index-page .area-sale .name{
  height: 3rem;
  font-size: 1.6rem;
  text-indent: 1.6rem;
  color: #333
}
.index-page .area-sale .Htips{
  margin-right:1rem;
  color: #a2a2a2;
    position: absolute;
    right: 0;
    top: 0;
}
.index-page .area-sale .sale-item{
  height: auto;
  clear: both;
  position: relative;
  display: block;
}
.index-page .area-sale .sale-item .left{
  width: 68%;
  padding: 0.5rem 0 0.2rem 1.6rem;
}
.index-page .area-sale .sale-item .left .logo{
  height: 2rem;
}
.index-page .area-sale .sale-item .left .logo img{
  height: 2rem;
  width: 2rem;
  float: left;
  margin-right: 0.5rem;
}
.index-page .area-sale .sale-item .left .logo .font{
  float: left;
}
.index-page .area-sale .sale-item .left .title{
  color: #a2a2a2;
  font-size: 1.1rem;
  margin: 0.5rem 0;
}
.index-page .area-sale .sale-item .left .category{

}
.index-page .area-sale .sale-item .left .category .section{
  display: block;
  clear: both;
  height: 2rem;
}
.index-page .area-sale .sale-item .left .category .section div{
    width: 20%;
    text-align: center;
}
.index-page .area-sale .sale-item .left .category .section .pm{
  float: left;
  margin-right:0.1rem;
  height: 1.8rem;
  overflow: hidden;
}
.index-page .area-sale .sale-item .left .category .section .ph{
  float: left;
  margin-right:0.1rem;
  height: 1.8rem;
  overflow: hidden;
}
.index-page .area-sale .sale-item .left .category .section .gk{
  float: left;
  margin-right:0.1rem;
  height: 1.6rem;
  overflow: hidden;
}
.index-page .area-sale .sale-item .left .category .section .jg{
  float: left;
  margin-right:0.1rem;
  height: 1.8rem;
  overflow: hidden;
}
.index-page .area-sale .sale-item .left .category .section .red{
  color: #ff4949;
}
.index-page .area-sale .sale-item .right{
  position: absolute;
  right: 0rem;
  top: 8%;
  height: 6rem;
  width: 30%;
}
.index-page .area-sale .sale-item .right .b_r{
  height: 70%;
  width: 1px;
  background-color:#dfdfdf;
  display: block;
  float: left;
  margin: 20% 0;
}
.index-page .area-sale .sale-item .right .btn-sale{
  font-size: 1.2rem;
  background: #f70;
  height: 3rem;
  display: block;
  line-height: 3rem;
  border-radius: .2rem;
  width: 70%;
  text-align: center;
  color: #fff;
  border: 0;
  margin:0.5rem auto;
}
.index-page .area-sale .sale-item .right .update p{
  width: 70%;
  margin:0 auto;
  font-size: 0.9rem;
  text-align: center;
  color: #b3b3b3;
  line-height: 1.3rem;
}
.more{
   margin: 0.5rem auto;
   width: 2rem;
}
.more img{
  width: 2rem;
  height: 1.5rem;

}
