.myorder-page {
  background: #f3f3f3
}
.myorder-page .all-type {
  background: #fff
}
.myorder-page .all-type a {
  display: block;
  position: relative;
  border-bottom: solid 1px #dbdbdb;
  line-height: 4rem;
  padding-left: 5.5rem;
  font-size: 1.6rem;
  color: #333
}
.myorder-page .all-type .icon {
  display: inline-block;
  position: absolute;
  left: 1.5rem;
  top: .75rem;
  width: 2.5rem;
  height: 2.5rem
}
.myorder-page .buyer-choose-wrap {
  background: #fff;
}
.myorder-page .buyer-choose-wrap .c-item {
  font-size: 1.6rem;
  width: 50%;
  float: left;
  text-align: center;
  line-height: 2rem;
  height: 2rem;
  padding: 1rem 0;
  border-bottom: solid 2px #fff
}
.myorder-page .buyer-choose-wrap .c-item.selected {
  border-bottom: solid 2px #fe8419;
  color: #fe8419
}
.myorder-page .buyer-choose-wrap .c-item .zhiying {
  width: 5.75rem;
  height: 1.8rem
}
.myorder-list-page .results-list {
  background: #f3f3f3
}
.myorder-page .all-type .dingdan-nav {
  width: 100%;
  height: 4rem;
  text-align: center;
  border-bottom: 1px solid #CCC;
}
.myorder-page .all-type .dingdan-nav span {
  width: 20%;
  box-sizing: border-box;
  display: block;
  float: left;
  text-align: center;
  font-size: 1em;
  border-right: 1px solid #CCC;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-top: 0.8rem;
}
.myorder-page .all-type .dingdan-nav span.selected {
  color: #fe8419;
}
.myorder-page .all-type .dingdan-nav span.noborder {
  border: 0;
}
.myorder-page .wdcg-content {
  width: 96%;
  margin: auto;
  border-bottom: 1px solid #CCC;
}
.myorder-page .wdcg-content li {
  font-size: 1em;
  width: 90%;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #CCC;
}
.myorder-page .wdcg-content li p {
  height: 2rem;
  line-height: 2rem;
}
.myorder-page .wdcg-content li span.color-y {
  color: #fc851c;
}
.myorder-page .wdcg-content li span.t01 {
  margin-right: 1rem;
}
.myorder-page .wdcg-content li span.t03 {
  font-size: 0.8em;
  color: #CCC;
  float: right;
}
.myorder-page .wdcg-content li p a {
  display: inline-block;
  line-height: inherit;
  border-bottom: 0;
  padding-left: 0;
  color: #158ab4;
  margin-left: 1rem;
}
.myorder-page .wdcg-content li.noborder {
  border-bottom: 0;
}
.myorder-page .all-type .dingdan-nav .lastspan:visited {
  float: right;
  width: 30%;
  color: #158ab4;
}
.myorder-page .all-type .dingdan-nav .lastspan {
  float: right;
  width: 30%;
  color: #158ab4;
}
.myorder-page .all-type .dingdan-nav a .noborder {
  float: right;
  width: 30%;
}
.wdgh-msg {
  width: 80%;
  margin: auto;
  padding: 1rem;
  border: 1px solid #CCC;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.market-list-new .pro-wrap .price {
  font-size: 1.2rem;
}
.market-list-new .pro-wrap p .name {
  color: #000;
}
.market-list-new .pro-wrap .zhiying {
  height: 3rem;
  line-height: 3rem;
  margin-top: 0;
}
.myorder-page {
  background: #FFFFFF;
}
