.list-wrap ul {
  background: #fff
}
.list-wrap li {
  height: 4rem;
  line-height: 4rem;
  padding: 0 2rem 0 1.5rem;
  position: relative
}
.list-wrap li .name {
  font-size: 1.5rem;
  width: 40%;
  display: inline-block;
  float: left
}
.list-wrap li .rezhi {
  float: left;
  width: 25%;
  text-align: center
}
.list-wrap li .price {
  float: left;
  width: 20%;
  text-align: center
}
.list-wrap li .arrow {
  display: inline-block;
  background: #999;
  position: absolute;
  color: #fff;
  width: 15%;
  text-align: right;
  box-sizing: border-box;
  padding: 0 .4rem 0 .2rem;
  font: 1.3rem/2.4rem "微软雅黑";
  right: .8rem;
  top: .8rem;
  height: 2.4rem;
  border-radius: .2rem;
  -moz-border-radius: .2rem;
  -webkit-border-radius: .2rem
}
.list-wrap li .arrow.up {
  background: #f85757
}
.list-wrap li .arrow.down {
  background: #45c353
}
.quotation-page .list-wrap li span.title {
  color: #1a8db5;
  width: 70%;
}

/* 企业展示  */
.area_sale{

}
.area_sale .top{
  background: url("../images/area-sale-bj-1.png") no-repeat;
  width: 100%;
  color: #fff;
}
.area_sale .top .logo{
   height: 2rem;
   padding: 2rem 0 1rem 2rem;
}
.area_sale .top .logo img{
  height: 2rem;
  width: 2rem;
  float: left;
  margin-right: 0.5rem
}
.area_sale .top .logo .font{
  float:left;
}
.area_sale .top .message{
  padding: 0rem 0 1rem 2rem;
}
.area_sale .top .message .name{
  height: 3rem;
}
.area_sale .top .message .phone{
  height: 3rem;
}
.area_sale .top .message .Iname{
  background: url("../images/Iname-1.png") no-repeat;
  background-size: 2rem;
  height: 2rem;
  width: 2rem;
  float: left;
  margin-right:0.5rem;
    margin-top: -0.2rem;
}
.area_sale .top .message .Iphone{
  background: url("../images/Iphone-1.png") no-repeat;
  background-size: 2rem;
  height: 2rem;
  width: 2rem;
  float: left;
  margin-right:0.5rem;
    margin-top: -0.2rem;
}
/*  企业介绍选项卡 */
.areatab{
  background: #fff;
  margin: 1rem 0;
  border-bottom:1px solid #dbdbdb;
  border-top:1px solid #dbdbdb;
}
.areatab .tabul{
  height: 4rem;
}
.areatab .tabul .clickon{
  color: #ff8415;
  border-bottom:5px solid #ff8415;
  height: 3.8rem;
}
.areatab .tabul a{
  float: left;
  width: 50%;
  text-align: center;
  display: block;
  height: 4rem;
  line-height: 4rem;
  border-bottom:1px solid #dbdbdb;
}
.areatab .tabcon{

}
.areatab .tabcon .con_area{
  font-size: 1.2rem;
  line-height: 2.1rem;
  padding: 1.5rem;
  display: block;
  color: #808080;
}
.area-con .tit{
  height: 3rem;
  line-height: 3rem;
  text-indent: 1.6rem;
}
