@charset "utf-8";
@media only screen and (max-width:320px) {
  html {
    font-size: 45%
  }
  body {
    font-size: 1.3em
  }
}
@media only screen and (min-width:320px) {
  html {
    font-size: 60%
  }
  body {
    font-size: 1.3em
  }
}
@media only screen and (min-width:360px) {
  html {
    font-size: 68%
  }
  body {
    font-size: 1.3em
  }
}
@media only screen and (min-width:480px) {
  html {
    font-size: 90%
  }
  body {
    font-size: 1.3em
  }
}
@media only screen and (min-width:640px) {
  html {
    font-size: 120%
  }
  body {
    font-size: 1.3em
  }
}
@media only screen and (max-width:640px) {
  .header147 {
    display: none!important
  }
}
body {
  font-size: 1.3em
}
html, body {
  background: #f3f3f3;
  margin: 0;
  padding: 0;
  overflow-x: visible;
  min-width: 0
}
body {
  width: 100%;
  padding: 0;
  max-width: 640px;
  font-family: '微软雅黑', 'Microsoft Yahei', sans-serif;
  color: #666;
  margin: 0 auto;
  position: relative
}
body * {
  max-width: 640px;
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text
}
button, input, select, textarea {
  font-family: '微软雅黑', 'Microsoft Yahei', sans-serif
}
p {
  margin: 0;
  padding: 0
}
a {
  text-decoration: none;
  color: #666
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0
}
input, select {
  outline: 0;
  padding: 0
}
input {
  text-indent: .5rem;
  font-size: 1.4rem;
  -webkit-appearance: none
}
input[type="button"], input[type="text"], input[type="submit"], input[type="reset"], input[type="number"], input[type="search"] {
  -webkit-appearance: none
}
textarea {
  -webkit-appearance: none;
  font-size: 1.4rem;
  resize: none
}
.clearfix {
  zoom: 1
}
.clearfix:after {
  content: "\0020";
  display: block;
  clear: both;
  height: 0
}
.inline-block {
  display: inline-block;
  zoom: 1
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis
}
.nowrap, .singleline {
  white-space: nowrap;
  overflow: hidden
}
.hidden {
  display: none
}
.textac {
  text-align: center
}
.w90 {
  width: 90%;
  margin: 0 auto
}
.w80 {
  width: 80%;
  margin: 0 auto
}
.w70 {
  width: 70%;
  margin: 0 auto
}
.w60 {
  width: 60%;
  margin: 0 auto
}
.w50 {
  width: 70%;
  margin: 0 auto
}
.w40 {
  width: 40%;
  margin: 0 auto
}
.mt10 {
  margin-top: 1rem
}
.mt12 {
  margin-top: 1.2rem
}
.mt15 {
  margin-top: 1.5rem
}
.mt18 {
  margin-top: 1.8rem
}
.mt20 {
  margin-top: 2rem
}
.mt25 {
  margin-top: 2.5rem
}
.mt30 {
  margin-top: 3rem
}
.mb10 {
  margin-bottom: 1rem
}
.mb12 {
  margin-bottom: 1.2rem
}
.mb15 {
  margin-bottom: 1.5rem
}
.mb18 {
  margin-bottom: 1.8rem
}
.mb20 {
  margin-bottom: 2rem
}
.mb25 {
  margin-bottom: 2.5rem
}
.mb30 {
  margin-bottom: 3rem
}
.ml10 {
  margin-left: 1rem
}
.ml12 {
  margin-left: 1.2rem
}
.ml15 {
  margin-left: 1.5rem
}
.ml18 {
  margin-left: 1.8rem
}
.ml20 {
  margin-left: 2rem
}
.ml25 {
  margin-left: 2.5rem
}
.ml30 {
  margin-left: 3rem
}
.mr10 {
  margin-right: 1rem
}
.mr12 {
  margin-right: 1.2rem
}
.mr15 {
  margin-right: 1.5rem
}
.mr18 {
  margin-right: 1.8rem
}
.mr20 {
  margin-right: 2rem
}
.mr25 {
  margin-right: 2.5rem
}
.mr30 {
  margin-right: 3rem
}
.mtb10 {
  margin-bottom: 1rem;
  margin-top: 1rem
}
.mtb12 {
  margin-bottom: 1.2rem;
  margin-top: 1.2rem
}
.mtb15 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem
}
.mtb18 {
  margin-bottom: 1.8rem;
  margin-top: 1.8rem
}
.mtb20 {
  margin-bottom: 2rem;
  margin-top: 2rem
}
.mtb25 {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem
}
.mtb30 {
  margin-bottom: 3rem;
  margin-top: 3rem
}
.pa {
  position: absolute
}
.pr {
  position: relative
}
.pf {
  position: fixed
}
.bb1 {
  border-bottom: solid 1px #dbdbdb
}
.br1 {
  border-right: solid 1px #dbdbdb
}
.bt1 {
  border-top: solid 1px #dbdbdb
}
.bl1 {
  border-left: solid 1px #dbdbdb
}
.bb2 {
  border-bottom: solid 2px #dbdbdb
}
.br2 {
  border-right: solid 2px #dbdbdb
}
.bt2 {
  border-top: solid 2px #dbdbdb
}
.bl2 {
  border-left: solid 2px #dbdbdb
}
.line.bb1 {
  width: 100%;
  float: left;
  clear: both
}
.fz10 {
  font-size: 1rem
}
.fz11 {
  font-size: 1.1rem
}
.fz12 {
  font-size: 1.2rem
}
.fz13 {
  font-size: 1.3rem
}
.fz14 {
  font-size: 1.4rem
}
.fz15 {
  font-size: 1.5rem
}
.fz16 {
  font-size: 1.6rem
}
.fz18 {
  font-size: 1.8rem
}
.fz20 {
  font-size: 2rem
}
.fll, .fl {
  float: left
}
.flr, .fr {
  float: right
}
img {
  width: 8rem;
}
.hidden {
  display: none
}
.visnone {
  position: relative;
  visibility: hidden
}
.main-header {
  position: relative;
  background: #f9f9f9;
  top: 0;
  width: 100%;
  max-width: 640px!important;
  text-align: center;
  z-index: 2;
  height: 4.4rem;
  line-height: 4.4rem;
  color: #333;
  border-bottom: solid 1px #e4e4e4
}
.main-header.b-orange {
  background: #f70
}
.main-header.b-blue {
  background: #3093ed
}
.main-header .title {
  font-size: 1.8rem
}
.main-header .back-btn {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 1.5rem;
  top: 1.3rem;
  display: inline-block;
  background: url("../images/leftarrow.png") no-repeat center;
  background-size: contain
}
.main-header .left {
  width: 18%;
  float: left;
  display: inline-block;
  height: 100%
}
.main-header .right {
  width: 18%;
  float: right;
  display: inline-block;
  height: 100%;
  font-size: 1.6rem;
  color: #fff
}
.main-header .center {
  width: 63%;
  display: inline-block;
  float: left;
  height: 4.4rem
}
.zmboxb {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box
}
.bbbt1 {
  border-bottom: solid 1px #dbdbdb;
  border-top: solid 1px #dbdbdb
}
footer {
  position: fixed;
  bottom: 0rem;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  max-width: 640px!important
}
footer.fix-foot {
  position: fixed;
  bottom: 0
}
footer.pa-bottom {
  position: absolute;
  bottom: 0;
  left: 0
}
footer .blue {
  color: #3093ed
}
footer a {
  margin: 0 1rem;
  padding: .5rem;
  display: inline-block
}
.next {
  background: none repeat scroll 0 0 #F70
}
.zm-wraps {
  background: #fff;
  border-top: solid 1px #dbdbdb;
  border-bottom: solid 1px #dbdbdb
}